<?xml version="1.0" encoding="UTF-8"?>
<root>
  <system>
    <config>
      <path>alothemes/general/tooltip</path>
      <value>0</value>
    </config>
    <config>
      <path>alothemes/list/widthImages</path>
      <value>276</value>
    </config>
    <config>
      <path>alothemes/list/heightImages</path>
      <value>359</value>
    </config>
    <config>
      <path>alothemes/detail/zoomWidth</path>
      <value>485</value>
    </config>
    <config>
      <path>alothemes/detail/zoomHeight</path>
      <value>647</value>
    </config>
    <config>
      <path>alothemes/detail/relatedSlide</path>
      <value>vertical</value>
    </config>
    <config>
      <path>alothemes/detail/activeTab</path>
      <value>box-additional</value>
    </config>
    <config>
      <path>alothemes/detail/thumbWidth</path>
      <value>185</value>
    </config>
    <config>
      <path>alothemes/detail/thumbHeight</path>
      <value>147</value>
    </config>
    <config>
      <path>alothemes/color/page_color</path>
      <value>#333333</value>
    </config>
    <config>
      <path>alothemes/color/page_background</path>
      <value>#ffffff</value>
    </config>
    <config>
      <path>alothemes/color/link_color</path>
      <value>#333333</value>
    </config>
    <config>
      <path>alothemes/color/button_color</path>
      <value>#333333</value>
    </config>
    <config>
      <path>alothemes/color/button_background</path>
      <value>#ffffff</value>
    </config>
    <config>
      <path>alothemes/color/button_background_hover</path>
      <value>#333333</value>
    </config>
    <config>
      <path>alothemes/color/labelnew_color</path>
      <value>#ffffff</value>
    </config>
    <config>
      <path>alothemes/color/labelsale_color</path>
      <value>#ffffff</value>
    </config>
    <config>
      <path>alothemes/color/button_background_active</path>
      <value>#76FB00</value>
    </config>
    <config>
      <path>alothemes/color/button_color_active</path>
      <value>#008855</value>
    </config>
    <config>
      <path>alothemes/newsletter/width</path>
      <value>800</value>
    </config>
    <config>
      <path>alothemes/newsletter/height</path>
      <value>400</value>
    </config>
    <config>
      <path>alothemes/newsletter/background_image</path>
      <value>default/popup.png</value>
    </config>
    <config>
      <path>sitemap/page/priority</path>
      <value>0.25</value>
    </config>
    <config>
      <path>sitemap/page/changefreq</path>
      <value>daily</value>
    </config>
    <config>
      <path>sitemap/category/priority</path>
      <value>0.5</value>
    </config>
    <config>
      <path>sitemap/category/changefreq</path>
      <value>daily</value>
    </config>
    <config>
      <path>sitemap/product/priority</path>
      <value>1</value>
    </config>
    <config>
      <path>sitemap/product/changefreq</path>
      <value>daily</value>
    </config>
    <config>
      <path>sitemap/generate/enabled</path>
      <value>0</value>
    </config>
    <config>
      <path>sitemap/generate/error_email_template</path>
      <value>sitemap_generate_error_email_template</value>
    </config>
    <config>
      <path>sitemap/generate/error_email_identity</path>
      <value>general</value>
    </config>
    <config>
      <path>magicmenu/general/dropdown</path>
      <value>4</value>
    </config>
    <config>
      <path>magicmenu/topmenu/notIncludeNav</path>
      <value></value>
    </config>
    <config>
      <path>magicshop/general/jquery</path>
      <value>0</value>
    </config>
    <config>
      <path>magicshop/quickview/dialogWidth</path>
      <value>867</value>
    </config>
    <config>
      <path>web/default/front</path>
      <value>cms</value>
    </config>
    <config>
      <path>web/default/cms_home_page</path>
      <value>home</value>
    </config>
    <config>
      <path>design/theme/default</path>
      <value></value>
    </config>
    <config>
      <path>design/package/name</path>
      <value>aloowlshop</value>
    </config>
    <config>
      <path>catalog/product_image/small_width</path>
      <value>none</value>
    </config>
  </system>
</root>
